.login-bg-left {
    background: url('../image/login-bg.jpg') no-repeat;
    background-size: cover;
    height: 100vh;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.login-bg-right {
    background-color: rgba(255, 255, 255, 0.15);
    height: 100vh;
}

.login-bg-right h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 60px;
}

.btn-delete {
    margin-left: 5px;
}

.product-box{
cursor:pointer !important;	
}

.buttons-html5
{
	padding:10px !important;
}




.all-wrapper {
    max-width: 100%;
}
.all-wrapper {
    /*box-shadow: 0px 0px 40px rgba(0,0,0,0.1);*/
    border-radius: 4px;
    max-width: 1600px;
    margin: 0px auto;
}

.layout-w {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.content-w {
  /*  background-color: #f2f4f8;
    background-image: url("../img/bg-pattern.png");*/
    background-repeat: no-repeat;
    background-position: 10px 50px;
    display: table-cell;
    vertical-align: top;
    border-radius: 0px 4px 4px 0px;
}
.content-i {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.content-box {
    padding: 15px;
}
.content-box {
    padding: 10px 15px;
    display: table-cell;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.element-wrapper {
    padding-bottom: 4rem;
}
.element-wrapper .element-actions {
    float: right;
    position: relative;
    z-index: 2;
}
.element-wrapper .element-header {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding-bottom: 5px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}
.element-header h6
{

    font-size: 12px;
}
.el-tablo {
    padding-right: 5px;
}
.element-box, .invoice-w, .big-error-w {
    padding: 25px 20px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.box-style, .element-box, .invoice-w, .big-error-w, .activity-boxes-w .activity-box {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.05);
}
.element-box, .invoice-w, .big-error-w {
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.el-tablo .label {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.4);
    font-family: "Proxima Nova W01",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 500;
    text-align: left;

}
.el-tablo .value {
    font-size: 30px;
    font-weight: 600;
    font-family: "Proxima Nova W01",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    letter-spacing: -1px;
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;
    font-family: "Proxima Nova W01",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 500;
}

.el-tablo .trending-up {
    color: #fff;
    background-color: #90be2e;
}
.el-tablo .trending {
    padding: 3px 10px;
    border-radius: 30px;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    margin-left: 1rem;
}
.el-tablo .trending-down-basic {
    color: #e65252;
    padding: 0px;
}
.content-panel {
    padding: 10px;
    width: 350px;
}
.content-panel {
    width: 400px;
    border-left: 1px solid rgba(0,0,0,0.05);
    padding: 10px 15px;
    display: table-cell;
}
.content-panel {
    -webkit-animation-name: fadeLeft;
    animation-name: fadeLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.profile-tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.profile-tile .profile-tile-box {
    width: 110px;
    text-align: center;
    border-radius: 4px;
    padding: 1.5rem 0.5rem 0.5rem;
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.05);
}
.profile-tile .pt-avatar-w {
    display: inline-block;
    border-radius: 50px;
    overflow: hidden;
}
.profile-tile .pt-avatar-w img {
    width: 60px;
    height: auto;
}

.profile-tile .pt-user-name {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 0.5px;
    margin-top: 0.5px;
    font-size: 12px;
    text-transform: uppercase;
}

.profile-tile .profile-tile-meta {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 30px;
}
.profile-tile .profile-tile-meta ul {
    list-style: none;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.4);
    margin: 0px;
    padding: 0px;
}
.profile-tile .profile-tile-meta ul li {
    margin-bottom: 3px;
}

.activity-boxes-w .activity-box-w {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 18px 0px;
    position: relative;
}
.activity-boxes-w .activity-time {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.4);
    text-align: right;
    padding-right: 40px;
}
.activity-boxes-w .activity-box {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}
.activity-boxes-w .activity-avatar {
    width: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1.5rem;
}
.activity-boxes-w .activity-avatar img {
    max-width: 100%;
    height: auto;
}
.activity-boxes-w .activity-info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.activity-boxes-w .activity-role {
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.4);
    margin-bottom: 0.2rem;
}
.activity-boxes-w .activity-title {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
}

.el-buttons-list.full-width .btn, .el-buttons-list.full-width .all-wrapper .fc-button, .all-wrapper .el-buttons-list.full-width .fc-button {
    display: block;
}
.el-buttons-list .btn, .el-buttons-list .all-wrapper .fc-button, .all-wrapper .el-buttons-list .fc-button {
    margin-bottom:5px;
}
.btn, .all-wrapper .fc-button {
    font-family: "Proxima Nova W01",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 500;
}
.btn-white, .all-wrapper .fc-button {
    color: #333;
    background-color: #fff;
    border-color: rgba(0,0,0,0.5);
}
.btn-sm, .btn-group-sm > .btn, .all-wrapper .btn-group-sm > .fc-button {
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 4px;
    text-transform: uppercase;
}
.btn-sm, .btn-group-sm > .btn, .all-wrapper .btn-group-sm > .fc-button {
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 4px;
}


/*# sourceMappingURL=all.css.map */
